[Unit]
Description=Raspberry Pi RX5808 Stream Server
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/rpi-rx5808-stream.py

Restart=always
RestartSec=2
WatchdogSec=2

[Install]
WantedBy=multi-user.target network-online.target
